.card {
  border: 3px solid grey;
  margin: 10px;
  max-width: 300px;
  padding: 5px;
  border-radius: 10px;
}
.card .card-image {
  width: 100%;
  height: 200px;
}

.card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card .card-body {
  padding: 5px;
}

.card .card-body h1 {
  text-align: center;
  font-size: 25px;
  border-bottom: 2px solid white;
  padding: 5px;
}
.card .card-body p {
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 2px;
}

.card .card-body button {
  background-color: blue;
}

.card-btn {
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
}
